@import "break-points";
@import "theme";

.works {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    position: relative;
    display: block;
    height: 350px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px;
    overflow: hidden;
    transition: all, 0.5s;

    img {
      transition: inherit;
    }

    .overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0px;
      left: 0px;
      background-color: rgba(232, 69, 69, 0.9);
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0;
      transition: inherit;
      color: rgb(255, 255, 255);

      h5 {

        cursor: pointer;
        display: block;
        font-family: Raleway, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 5px;
        transform: translate3d(0, -200%, 0);
        transition: inherit;
      }

      p {
        font-family: Raleway, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        transform: translate3d(0, 200%, 0);
        transition: inherit;
      }
    }
  }

  a:hover {
    img {
      transform: scale(1.2);
      overflow: hidden;
    }

    .overlay {
      justify-content: center;
      opacity: 0.9;
    }

    h5, p {
      transform: translate3d(0, 0, 0);
    }

  }

  @media screen and (min-width: $md) {
    flex-direction: row;
    flex-wrap: wrap;
    a {
      width: 50%;
    }
  }
  @media screen and (min-width: $xl) {

    a {
      width: 25%;
    }
  }
}